.headerContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .videoBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .contentOverlay {
    position: relative;
    z-index: 1;
    color: white; /* Changez la couleur du texte selon vos besoins */
    text-align: center;
    padding: 20px;
  }
  
  .contentOverlay h1 {
    font-size: 3em; /* Ajustez la taille de la police selon vos besoins */
    margin: 0;
   align-items: center;
  }
  